
:root {
    --bg: rgb(224, 224, 224);
    --bg-light: rgb(190, 190, 190);
    --btn-hv-bg: rgb(160, 160, 225);
    --btn-act-bg: rgb(120, 120, 200);
}

body {
    padding: 0;
    margin: 0;
}

#main_div {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.dropdown-options,
#options {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#options {
    overflow: scroll;
}

.dropdown-options {
    display: none;
    flex: 0 1 auto;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#options h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}

.dropdown-options {
    background-color: var(--bg-light);
}

#options button {
    font-size: 32px;
    background: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

#options button:hover,
#options button:focus {
    background-color: var(--btn-hv-bg);
}

#options button:active {
    background-color: var(--btn-act-bg);
}

#display_data {
    background-color: rgb(242, 242, 250);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex: 6 0 auto;
    max-height: 100vh;
}

#display_data h1 {
    text-align: center;
}

#display_data form {
    height: 100vh;
}

.form-content {
    overflow: scroll;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.form-content-header {
    overflow: scroll;
    display: flex;
}

.fl-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.input-div p {
    font-size: 28px;
    margin-bottom: 10px;
}

.closure-review-div {
    overflow: scroll;
    display: none;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    max-height: 70%;
}

.closure-review-div h2 {
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    font-size: 28px;
}

.input-div select {
    font-size: 28px;
    margin-bottom: 10px;
}

.fl-row div {
    width: 50%;
}

.input-div input, 
.input-div textarea {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 24px;
}

.not-resizable,
.input-div textarea {
    resize: none;
}

.loan-type label {
    font-size: 24px;
}

.form-buttons {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-buttons input {
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

td {
    text-align: center;
    font-size: 24px;
}

th {
    text-align: center;
    font-size: 22px;
}

.amount-payed {
    width: 15%;
}

td, th {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000;
}

