
:root {
  --promo-div-width: 30vw;
  --login-div-width: calc(100vw - var(--promo-div-width));
  
  --login-bg: rgb(224, 224, 224);
  --login-footer-bg: rgb(160, 160, 225);

  --login-header-height: 30vh;
  --login-footer-height: 15vh;
  --login-body-height: calc(100vh - calc(var(--login-header-height) + var(--login-footer-height)));
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

#promo_div {
  height: 100vh;
  width: var(--promo-div-width);
  background-image: url('/static/images/promotion.jpg');
  background-size: cover;
  background-position-x: center;
}

#login_div {
  background: var(--login-bg);
  height: 100vh;
  width: var(--login-div-width);
  display: flex;
  flex-direction: column;
}

#login_header,
#login_form,
#login_footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

#login_header {
  height: var(--login-header-height);
  padding-top: 0px;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

#login_header h1 {
  font-size: 64px;
  margin-bottom: 0;
}

#login_header p {
  font-size: 28px;
}

#login_form form {
  height: var(--login-body-height);
  width: var(--login-div-width);
}

.info_div {
  width: 100%;
}

#login_header,
#login_form form,
.info_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_form form h1 {
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info_div p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 28px;
}

.info_div input {
  margin-bottom: 25px;
  font-size: 26px;
  padding: 8px;
  border: 1px none #000;
  background: inherit;
  border-bottom: 3px solid #797979;
  transition: 0.75s;
  outline: none;
}

.info_div input:focus {
  border-bottom: 3px solid #2f2f2f;
}

#form_buttons,
.info_div input,
.info_div p {
  width: 75%;
}

#form_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form_buttons input {
  font-size: 38px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border: 2px solid #000;
}

#login_footer {
  height: var(--login-footer-height);
  background: linear-gradient(180deg, var(--login-bg) 0%, var(--login-footer-bg) 40%); 
  font-size: 24px;
}

#login_footer a {
  color: #532872;
}

#login_footer a:hover {
  color: #3f0a49;
}

#error_div p {
  color: red;
}

