{{ define "dashboard-content" }} {{ if eq .loanActive "F" }}
<h1 class="option-header">GET LOAN</h1>
<form id="form-div">
  <div class="form-content">
    <div class="input-div">
      <p>Loan type:</p>
      <div class="loan-type">
        <label
          ><input
            id="fidu"
            type="radio"
            name="loan-type"
            value="fiduciary"
            checked="checked"
          />
          Fiduciary (15% interest)</label
        >
        <label
          ><input
            id="auto"
            type="radio"
            name="loan-type"
            value="automatic"
            oninput="isValid(this)"
          />
          Automatic (10% interest)</label
        >
      </div>
    </div>
    <div class="input-div">
      <p>Loan periods (months):</p>
      <input
        type="number"
        name="periods"
        value="6"
        min="0"
        max="12"
        oninput="verifyPeriods(this)"
      />
    </div>
    <div class="input-div">
      <p>Requested amount:</p>
      <input
        type="number"
        id="rCapital"
        name="capital"
        value="1000"
        min="1000"
        step="0.01"
        max="{{ .MaxAmount }}"
        oninput="verifyAmount(this)"
      />
    </div>
  </div>
  <div class="form-buttons">
    <input
      type="button"
      name="accept-btn"
      value="request loan"
      hx-post="/request-loan/"
      hx-on:htmx:before-request="validateForm(event)"
      hx-swap="innerHTML"
      hx-target="#display_data"
      hx-select="#display_data"
      hx-on::after-request="handleResponse(event)"
    />
  </div>
</form>
<script>
  let max = document.getElementById("rCapital").max;
  let LastCaptalString = 10000;
  let LastPeriodString = 12;

  function isValid(input) {
    if (max < 1000) {
      input.checked = false;
      document.getElementById("fidu").checked = true;
      alert(
        "You need to have at least a $. 1000 on your account to use this loan.",
      );
    } else {
      document.getElementById("rCapital").value = 1000;
    }
  }

  function verifyPeriods(input) {
    for (i = 0; i < input.value.length; i++) {
      if (input.value.at(i) === ".") {
        input.value = parseInt(input.value);
        break;
      }
    }

    if (input.value > 12) {
      input.value = 12;
    } else if (input.value < 1) {
      input.value = 1;
    }

    if (input.value.length != 0) {
      LastPeriodString = input.value;
      return;
    }
    input.value = LastPeriodString;
  }

  function verifyAmount(input) {
    const lmax = document.getElementById("fidu").checked ? 10000 : max;
    console.log(max);
    console.log(lmax);
    input.max = lmax;

    if (parseFloat(input.value) > parseFloat(lmax)) {
      input.value = lmax;
      LastCaptalString = lmax;
      return;
    } else if (parseFloat(input.value) < 0.01) {
      input.value = 0.01;
      LastCaptalString = 0.01;
      return;
    }

    if (input.value.length != 0) {
      LastCaptalString = input.value;
    }
    input.value = LastCaptalString;
  }
  verifyAmount(document.getElementById("rCapital"));
</script>
{{ else if eq .loanActive "T"}}
<h1>LOAN DETAILS</h1>
<table class="loan-details">
  <tr>
    <th>Loan id</th>
    <th>Requested by</th>
    <th>Periods requested</th>
    <th>Amount requested</th>
    <th>Interest</th>
    <th>Date requested</th>
  </tr>
  <tr>
    <td>{{ .loan.LoanId }}</td>
    <td>{{ .loan.UserId }}</td>
    <td>{{ .loan.Periods }}</td>
    <td>{{ .loan.Capital }}</td>
    <td>{{ .loan.Interest }}</td>
    <td>{{ .loanDate }}</td>
  </tr>
</table>

<table class="payment-details">
  <tr>
    <th>No.</th>
    <th>deadline</th>
    <th>IPMT</th>
    <th>PPMT</th>
    <th>PMT</th>
    <th class="amount-payed">Amount payed</th>
    <th>Is payed?</th>
  </tr>
  {{ range .payments }}
  <tr>
    <td>{{ .PaymentNumber }}</td>
    <td>{{ .FmtDeadline }}</td>
    <td>{{ .IPMT }}</td>
    <td>{{ .PPMT }}</td>
    <td>{{ .PMT }}</td>
    <td>{{ .AmountPayed }}</td>
    <td>{{ .IsPayed }}</td>
  </tr>
  {{ end }}
</table>
{{ end }} {{ end }}
