{{ define "dashboard-content" }}
    <h1>{{ .action }} closure</h1>
        <form id="form-div">
            <div class="form-content">
                <div class="input-div">
                    <p>Description:</p>
                    <textarea type="text" name="description" rows="5" placeholder="Month: {{ .month }}, year: {{ .year }}."></textarea>
                </div>
                <div class="input-div">
                    <p>Closure month:</p>
                    <input type="month" name="month" value="{{ .month }}" readonly>
                </div>
                <div class="input-div">
                    <p>Closure year:</p>
                    <input type="number" name="year" value="{{ .year }}" readonly>
                </div>
            </div>
            <div class="form-buttons">
                <input type="button" name="accept-btn" value="{{ .action }} closure" hx-post="{{ .endPoint }}" hx-on:htmx:before-request="validateForm(event)" hx-on::after-request="handleResponse(event)"> 
            </div>
        </form>
{{ end }}
