{{ define "content" }}
    <div id="main_div">
        <div id="options">
            <h1>ABCo-op</h1>
            <button class="change-btn" type="submit" hx-post="/dashboard-user/" hx-swap="innerHTML" hx-target="#display_data">{{ .user }}</button>
            <button class="change-btn" type="submit" hx-post="/dashboard-Account/" hx-swap="innerHTML" hx-target="#display_data">Accounts</button>
            <button class="change-btn" type="submit" hx-post="/dashboard-loan/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Loans</button>
            <button class="dropdown-btn change-btn">Transactions <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-options">
                <button class="change-btn" type="submit" hx-post="/dashboard-deposits/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Deposits</button>
                <button class="change-btn" type="submit" hx-post="/dashboard-payments/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Payments</button>
                <button class="change-btn" type="submit" hx-post="/dashboard-liquidations/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Liquidations</button>
            </div>
            {{ if eq .admin "T" }} 
                {{ if eq .closureValid "T" }}
                    <button class="dropdown-btn change-btn">Monthly closure <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-options">
                        <button class="change-btn" type="submit" hx-post="/dashboard-reg-closure/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Register closure</button>
                        <button class="change-btn" type="submit" hx-post="/dashboard-rev-closure/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Review closures</button>
                    </div>
                {{ else }}
                    <button class="change-btn" type="submit" hx-post="/dashboard-rev-closure/" hx-swap="innerHTML" hx-target="#display_data" hx-on::after-request="handleResponse(event)">Review closures</button>
                {{ end }}
                <button class="change-btn" type="submit" hx-post="/dashboard-n_users/" hx-swap="innerHTML" hx-target="#display_data">Users</button>
            {{ end }}
        </div>
        <div id="display_data">
            {{ template "dashboard-content" . }}            
        </div>
    </div>
{{ end }}
