{{ define "content" }}
<div id="bg-register">
  <div id="form-container">
    <form id="form-div">
      <div id="content-div">
        <h1>Register form</h1>
        <div class="row-parent-input-div">    
            <div class="input-div">
              <p>First name*:</p>
              <input type="text" name="first_name" value="" placeholder="Josué" required/>
            </div>
            <div class="input-div">
              <p>Second name:</p>
              <input type="text" name="second_name" value="" placeholder="Gabriel"/>
            </div>
        </div>
        <div class="row-parent-input-div"> 
            <div class="input-div">
            <p>First last name*:</p>
              <input type="text" name="first_lastname" value="" placeholder="Delcid" required/>
            </div>
            <div class="input-div">
              <p>Second last name:</p>
              <input type="text" name="second_lastname" value="" placeholder="Reyes"/>
            </div>
        </div>
        <div class="col-parent-input-div">    
            <div class="input-div">
                <p>Birth date:</p>
                <input type="date" name="birth_date" min="{{ .minDate  }}" max="{{ .currentDate }}">
            </div>
            <div class="input-div">
              <p>Main email*:</p>
              <input type="email" name="email" value="" autocomplete="off"  placeholder="example@gmail.com" required/>
            </div>
            <div class="input-div">
              <p>Recovery email:</p>
              <input type="email" name="recovery_email" value="" placeholder="example@gmail.com"/>
            </div>
            <div class="input-div">
                <p>Password*:</p>
                <input type="password" name="password" value="" autocomplete="off" minlength="5" maxlength="25"  placeholder="Password123" required/>
            </div>
            <div class="input-div">
                <p>Is admin?: 
                <label class="switch"> 
                    <input name="admin" type="checkbox">
                    <span class="slider"></span>
                </label>
                </p>
            </div>
        </div>
        <div class="row-parent-input-div">
             <div class="input-div">
                <p>Department:</p>
                <input type="text" name="department" value="" placeholder="Cortés">
            </div>
            <div class="input-div">
                <p>City:</p>
                <input type="text" name="city" value="" placeholder="San Pedro Sula"/>
            </div>
        </div>
        <div class="row-parent-input-div">
             <div class="input-div">
                <p>Street:</p>
                <input type="text" name="street" value="" placeholder="7th street">
            </div>
            <div class="input-div">
                <p>Avenue:</p>
                <input type="text" name="avenue" value="" placeholder="12nd avenue"/>
            </div>
        </div>
        <div class="col-parent-input-div">
            <div class="input-div">
                <p>house number:</p>
                <input type="text" name="house_number" value="" placeholder="District los andes">
            </div>
            <div class="input-div">
              <p>Reference:</p>
              <textarea type="text" name="reference" rows="5" placeholder="A few streets back of the 'supermercado los andes' and next to 'La campesina'."></textarea>
            </div>
        </div>
      </div>
      <div id="button-div">
        <input type="submit" name="return_btn" id="return_btn" hx-post="/" value="Cancel"/>
        <input type="submit" name="submit_btn" id="submit_btn" hx-post="/register-user/" hx-targer="#register_js" hx-swap="innerHTML"  hx-on:htmx:before-request="validateForm(event)" hx-on::after-request="handleResponse(event)" value="Register"/>
      </div>
    </form>
    <p id="login-txt">Already have an account?<a href="/login">login</a></p>
  </div>
</div>
<script id="register_js"></script>
<script src="./static/js/main.js"></script> 
{{ end }}
